
*{
    box-sizing: border-box;
}

.task-item{
    list-style-type: none;
    margin: 5px 20px;
    width: 550px;
    margin: 30px auto;
    padding-bottom: 2px;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

.todo-item{
    margin: 5px auto;
    padding: 5px;
}